@model List<MvcRefactorTest.Domain.User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8"/>
    <title>File Viewer</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <script>
        function OpenUserDetails() {
            $(function() {
                    $.ajax({
                        url: "@Url.Action(\
                                  "LoadUsers\",\"Home\")", 
                                  "GET", 
                                  false, 

                                  // data: { meter_id: meterId }
}

).

                    done(function (result);
                {
                    $
                        ("#contUserDetails")
                        .html(result);
                }
            );
        });
        }
    </script>
</head>

<hgroup class="title">
    <h1>@Title  </h1>
    <h2>@Vessage </h2>
</hgroup>

@*<h1>All Developers</h1>
<div id="fileDisplay"></div>*@
<form>
    <input type="Button" name="Submit" value="Load Users" onclick=" OpenUserDetails(); " style="background: #ffa20f; border: 2px outset #d7b9c9; color: #000;"/>

    <div id="contUserDet a ils">
        @Htrtial ( "_UserDetailsPartial", Model )

    </div>
</form>