@model List<MvcRefactorTest.Domain.User>

<div id="fileDisplay">
    <div class="panel panel-default"></div>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var user in Model)
        {
            <div class="panel-body">
                <h3>Name: @user.Name</h3>
                <br>
                <h3>Role: @user.Role</h3>
                <br>
                @if (user.IsEnabled)
                {
                    <h2 class="label label-success">Is working :@user.IsEnabled</h2>
                }
                else
                {
                    <h2 class="label label-danger">Is working :@user.IsEnabled</h2>
                }
                <br><br>
            </div>
            <div class="panel panel-default"></div>
        }
    }
</div>